<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

<body>

<div class="w3-content" style="max-width:1800px">

  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="#travels" class="w3-left w3-button w3-white">MY TRAVELS</a>
    <a href="#about" class="w3-right w3-button w3-white">ABOUT</a>
  </header>  

  <div class="w3-row" >
      <input type="image" src="images/bogota.jpg" id="picture" onclick="document.location.href = '#bogota'" title="Bogota">
      <input type="image"  src="images/granada.jpg" id="picture" onclick="document.location.href = '#granada'" title="Granada">
      <input type="image" src="images/medellin.jpg" id="picture" onclick="document.location.href = '#medellin'" title="Medellin">
    </div>

    <div class="w3-row">
      <input type="image" src="images/madrid.jpg" id="picture" onclick="document.location.href = '#madrid'" title="Madrid">
      <input type="image" src="images/london.jpg" id="picture" onclick="document.location.href = '#london'" title="London">
      <input type="image" src="images/paris.jpg" id="picture" onclick="document.location.href = '#paris'" title="Paris" >
      <input type="image" src="images/questions.jpg" id="picture" onclick="document.location.href = '#questions'" title="Q/A">
    </div>
  </div>
</div>

<section class="w3-light-grey w3-padding-64 w3-center">
    <h2 id="bogota">Bogota</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</section>
<section class="w3-light-grey w3-padding-64 w3-center" id="paris">
    <h2><u>Paris</u></h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</section>

<section class="w3-light-grey w3-padding-64 w3-center" id="madrid">
    <h2><u>Madrid</u></h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</section>
<section class="w3-light-grey w3-padding-64 w3-center" id="medellin">
    <h2><u>Medellin</u></h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</section>
<section class="w3-light-grey w3-padding-64 w3-center" id="granada">
    <h2><u>Granada</u></h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</section>

<section class="w3-light-grey w3-padding-64 w3-center" id="london">
    <h2><u>London</u></h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</section>

<section class="w3-light-grey w3-padding-64 w3-center" id="questions">
    <h2><u>Q/A</u></h2>
<h3>Rank your 5 favorite, and least favorite, activities from this list</h3>
<p>
<ul>1.Submit bug reports and potentially bug fixes to closed and open source projects that Netlify maintains on GitHub.</ul>
<ul>2. Debug a customer's build using a programming language and framework that you've never seen before.</ul>
<ul>3. Work with people to figure out if Netlify's service can solve a particular workflow or integration challenge they have.</ul>
<ul>4.Help manage communications during a service outage.</ul>
<ul>5.Dig through server logs to troubleshoot a customer's website behavior.</ul>
</p>
<br>
<h3>What is your favorite thing about providing technical support?</h3>
<p>
  I have been in social services most of my profession career and I really enjoy the feeling I get when helping people through an issue. I like that I get to learn something new and that I get to find solutions to some complex problems.
</p>
<br>
<h3>What did you think of our service during the time you used it?  Be honest!  “it sucked” isn’t a wrong answer unless you don’t elaborate and provide some constructive criticism</h3>
<p>
 I have used Paas platforms before mainly Heroku  for my projects and it was really cool to see another one. The thing I really like about Netlify and what makes dev-ops really appealing is CD/CI so it's cool to see it in action. Heroku you have to push your changes to GitHub and Heroku and cross your fingers and with Netlify is not like that. I could point my mom to your website and she could also make it work, it makes it really available for everyone! Even on my machine I have alias for a lot of the git and Herkou commands that she may be able to do it while watching a videos or something, but not really understand what she did. 
</p>
<br>
  <h3>Tell about how you made your site and why you chose the tools you did.  Briefly explain a challenge you experienced in setting up this site and how you solved it.</h3>
<p>
  One thing that really caught me off guard so much so that I had to look at the instructions a few times. I could not believe that it was that easy to deploy my static website, that there must be a trick to doing it and there wasn’t. One thing I had to think about and even ask Chris was should I make a whole rails website and just make a prettyish (not really good a front-end) CRUD website because I usually do not do static html/css websites, but it was a lot of fun not to completely depend on bootstrap (it is still a template for my website).  
</p>
<h3>Could you give us a suggestion to improve this test or the job posting?</h3>
<p>
  I think the take-project portion was fine, although I am not sure my website is pretty or complex enough to be noticed. I guess one thing I would like that would help me is a guideline to making that website: What effects do you want to see, do you want to see JavaScript, how big should the website be and so on.
</p>
<br>
  <h3>Provide a link to documentation for a technical/developer-focused product, that you think are well done, and briefly explain why you think they are well done.</h3>
  <p>
    <a style="color:blue;" href="https://developers.google.com/maps">Google Maps</a>
I love messing around with API’s it really adds great layer to most applications. I have used many API’s and a there are a few characteristics that I look for when looking for a “good” API: Documentions is huge when trying to implement an API, you want it to be well document and even some examples of how to use it in different languages is great. I usually like my API’s to be open source to see how it's made and to check out some of the pull-request (is there a lot?) and some of the issues and how fast do they resolve issues. One of the last things I look for me is how easy it is to implement and I think that this is a combination of some of the above that makes this true or not.
  </p>
  <br>
  <h3>Why do you think SSL/HTTPS is important?</h3>
  <p>
    I think now more than most times in the past understand how the internet and security works is very important. Understanding why SSL is so important for a website is key to keeping your private information private. You would not want to put your credit card or social security number one a website that was not secure.
  </p>
  <br>
  <h3>Explain, in a couple of paragraphs, what you think 2 major challenges around DNS configuration are for less-technical internet end-users?</h3>
  <p>
    I think that one of the biggest issues is security and understanding what an attacker can do and how they may do it. A lot of Paas platforms make it easy to do with a few commands, but what if a user does not want use one provider and they want to use multi-providers for example, a different host provider, a different domain name provider and so on (even if a user uses one provider they still should think about security). There are a lot of DNS security threats that I think that even non-tech savvy users should be aware of and how best to keep your website and computer more resistant to security threats, for example footprinting and DoS attacks.
    </p>

    <p>
    Footprinting is an attack when an attacker gets “DNS zone data” that gives the attacker a lot of information with much of it being sensitive information. So if a user wants to take the steps to configure their own DNS it is wise to read up on ways to mitigate such attacks for instance, disable unneeded protocols and ports and “Lock down ports with the appropriate firewall configuration”, are I think doable with a little bit of google for many users. However damaging footprinting can be (some hackers just like to poke around), one can see how devastating the results can from DoS attack.
    </p>

    <p>
    Very recently there was a massive DDoS attack and it opened the world’s eyes to how damaging such attacks can be and that even huge tech companies are not exempted. DoS attacks are when someone floods one or even sometimes more than one DNS server, pushing the CPUs to their maximum until they shut down. Nothing is really fool-proof, but understanding some basic ways to make the event of an attack less likely are making your website and or app with these types of attacks in mind and to stay up to speed with patches and security updates (of course there are more ways, but there again are things that most users can do). Though security is huge, there are other challenges too like understanding basic terminology can even hard at a very high level things.
    </p>
    <p>
    Configuring DNS is intimidating things like what is happening your DNS Zone files can be overwhelming at first, but  places like DigitalOcean have great guides for the terminology to better understand what's going on and why things like forwarding does and so on. Websites and tutorials can make basic DNS configuration really easy to understand, but I think a good understanding is pivotal and can be challenging for some people. 

  </p>
  <h3>. A customer writes in saying their “site won’t build”.  Compose your best short (2-paragraph) customer-facing answer without any additional data, that could be useful in the generic case but would also lead to a customer providing a more actionable response.</h3>
  <p>
    What error message are you getting? Knowing the error message can sometimes eliminate or highlight common errors and oversight before thinking of edge cases to save time and frustration. It could be as simple as a misspelling of a GitHub repo or forgetting to push to the master branch and making sure the working tree is clean. 
  </p>
  <p>
    Asking what the customer has tried to solve the problem on their own if anything to avoid repetition. It can be really annoying for someone asking for to receive advice that or an answer that they have tried already; Try avoiding telling the customer “turn it off and on” typespe of response if it has been tried. 
  </p>
</section>


<footer class="w3-light-grey w3-padding-64 w3-center" id="about">
  <h2>About</h2>

  <form  style="margin:auto;width:60%"  target="_blank">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.!</p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    </section>
  


 <center> <p>Posted by: Rafeeq Wilson</p></center>
</footer>
 
</body>
</html>
